  <div id="footer">
  <div class="navbar-fixed-bottom">
  <div class="row" id="bottomNav">
<div class="col-xs-1 text-center"><p class="hidden">empty space</p></div>
       <div class="col-xs-2 text-center"><a href="/progress"><img src="images/img 3.png" class="footer"></a></div>
    <div class="col-xs-2 text-center"><a href="/gallery"><img src="images/img 1.png" class="footer"></a></div>
    <div class="col-xs-2 text-center"><a href="/home"><img src="images/img 2.png" class="footer"></a></div>
   
    <div class="col-xs-2 text-center"><a href="/quotes"><img src="images/img 4.png" class="footer"></a></div>
    <div class="col-xs-2 text-center"><a href="/account"><img src="images/img 5.png" class="footer"></a></div>
   <div class="col-xs-1 text-center"><p class="hidden">empty space</p></div>
  </div>
  </div>
</div>
   